
/***********************************
* Context Menu                     *
***********************************/

.menu-item .default {
    -fx-font-weight: bold;
}

/****************************************************
* TableResults                                      *
*****************************************************/

.edit-cell,
.table-cell:focus {
    -fx-background-color: -fx-faint-focus-color;
    -fx-padding: 0px;
    -fx-background-insets: -3;
    -fx-background-radius: 0;
}

.boolean.table-cell {
    -fx-alignment: center;
    -fx-font-size: 15pt;
    -fx-text-fill: #080;
    -fx-padding: -4px 0 0 0;
}

.path.table-cell {
    -fx-text-overrun: leading-ellipsis;
}

.modified.table-cell,
.number.table-cell {
    -fx-alignment: center-right;
}

.table-row-cell.git-untracked > .table-cell {
    -fx-text-fill: #800;
}
.table-row-cell.git-not-updated > .table-cell {
    -fx-text-fill: #008;
}
.table-row-cell.git-renamed > .table-cell {
    -fx-text-fill: #088;
}
.table-row-cell.git-updated > .table-cell {
    -fx-text-fill: #080;
}

/*
 Make the table's selected rows stay the same colour regardless of focus, so that the table doesn't FLASH
 when changing the selection using ctrl+left mouse button.
 The table never stay in a focuses state, because the code's cell takes the focus, so the focus color isn't
 important anyway!
*/
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}

/****************************************************
*   MyTabPane :                                     *
* This was copied from the regular TabPane css, and *
* tweaked for MyTabPane's structure.                *
*****************************************************/

.my-tab-pane > .tab-header-area {
    -fx-background-color: linear-gradient(from 0px 0px to 0px 4px, -fx-text-box-border, derive(-fx-text-box-border, 30%));
}
.my-tab-pane.top > .tab-header-area {
    -fx-padding: 5 5 0 5
}
.my-tab-pane.bottom > .tab-header-area {
    -fx-padding: 0 5 5 5
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab {
    -fx-padding: 1 6 0.99 8
}
.my-tab-pane.top > .tab-header-area > .tabs-container > .tab {
    -fx-background-insets: 0 1 1 0, 1 2 1 1, 2 3 1 2;
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
}
.my-tab-pane.bottom> .tab-header-area > .tabs-container > .tab {
    -fx-background-insets: 1 1 0 0, 1 2 1 1, 1 3 2 2;
    -fx-background-color: -fx-outer-border, -fx-inner-border-bottomup, -fx-body-color-bottomup;
    -fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 1 1;
}
.my-tab-pane.bottom > .tab-header-area > .tabs-container > .tab.separated{
    -fx-background-insets: 1 1 0 0, 1 1 0 20, 1 2 1 21, 1 3 2 22;
    -fx-background-color: rgb(0,0,0,0), -fx-outer-border, -fx-inner-border-bottomup, -fx-body-color-bottomup;
    -fx-background-radius: 0, 0 0 3 3, 0 0 2 2, 0 0 1 1;

    -fx-padding: 1 6 1 28;
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab.selected {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-background;
}
.my-tab-pane > .tab-header-area > .tabs-container > .tab.selected.separated {
    -fx-background-color: rgb(0,0,0,0), -fx-outer-border, -fx-inner-border, -fx-background;
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab > .tab-close-button {
    -fx-background-color: transparent !important;
    -fx-background-insets: 0;
    -fx-padding: 7px 2px 5px 0px;
    -fx-text-fill: #888;
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab > .tab-close-button:hover,
.my-tab-pane > .tab-header-area > .tabs-container > .tab > .tab-close-button:armed {
    -fx-background-color: transparent !important;
    -fx-text-fill: -fx-dark-text-color;
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab > .tab-label {
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 6px 4px 6px 0;
}
.my-tab-pane > .tab-header-area > .tabs-container > .tab > .tab-close-button:hover {
    -fx-background-color: derive(-fx-mark-color, -30%);
}
.my-tab-pane > .tab-header-area > .extra-container {
    -fx-padding: 0 0 4px 8px;
    -fx-spacing: 6px;
}
.my-tab-pane.bottom > .tab-header-area > .extra-container {
    -fx-padding: 6px 0 0px 8px;
}
.my-tab-pane > .tab-header-area > .extra-container > .more-button > .text ,
.my-tab-pane > .tab-header-area > .extra-container > .add-tab > .text {
    -fx-font-size: 0.7em;
}
.my-tab-pane > .tab-header-area > .extra-container > .more-button ,
.my-tab-pane > .tab-header-area > .extra-container > .add-tab {
    -fx-padding: 5px 7px 5px 7px;
    -fx-background-radius: 10;
}

/****************************************************
* ProjectWindow toolbar containers                  *
*****************************************************/
/* Use the same background as actual toolbars */

.toolbar-container {
    TOP-COLOR: ladder(
        -fx-base,
        derive(-fx-base,0%) 0%,
        derive(-fx-base,46%) 100%
    );
    -fx-background-color:
        linear-gradient(to bottom, derive(TOP-COLOR,25%) 0%, -fx-outer-border 90%),
        linear-gradient(to bottom, TOP-COLOR 2%, derive(-fx-base,-2.1%) 95%);
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
}
.toolbar-container.bottom {
    -fx-background-color:
        -fx-outer-border,
        derive(TOP-COLOR,25%),
        linear-gradient(to bottom, TOP-COLOR 2%, derive(-fx-base,-2.1%) 95%);
    -fx-background-insets: 0, 1 0 0 0, 2 0 0 0;
}

.toolbar-container.left {
    -fx-background-color:
        -fx-outer-border,
        linear-gradient(to right, derive(-fx-base,0%) 0%, derive(-fx-base,10%) 50%, derive(-fx-base,0%) 100%);
    -fx-background-insets: 0, 0 0 0 1;
}

.toolbar-container.right {
    -fx-background-color:
        -fx-outer-border,
        linear-gradient(to right, derive(-fx-base,0%) 0%, derive(-fx-base,10%) 50%, derive(-fx-base,0%) 100%);
    -fx-background-insets: 0, 0 1 0 0;
}

/****************************************************
*   File Operations :                               *
*****************************************************/

.file-operations {
    -fx-padding: 10px;
    -fx-spacing: 4px;
}

.file-operation {
    -fx-padding: 14px;
    -fx-background-color: #ccc;
    -fx-background-radius: 6px;
}

.file-operation.active {
    -fx-background-color: -fx-faint-focus-color;
}

.file-operation.error {
    -fx-background-color: #c33;
}

.file-operation .files {
    -fx-underline: true;
    -fx-font-weight: bold;
}

/****************************
* See classes :             *
*   EditorTool              *
*****************************/

.editor {
    -fx-font-family: monospace;
}

/****************************
* See classes :             *
*   SimpleTerminal          *
*****************************/

.terminal .output {
    -fx-font-family: monospace;
    -fx-text-fill: #fff;
}

.terminal .output .content {
    -fx-background-color: #000;
}

.terminal .input {
    -fx-font-family: monospace;
}

.terminal .message {
    -fx-padding : 5px;
}

/****************************************************
*   End :                                           *
*****************************************************/
